node_modules
.env
.env.local
dist
.DS_Store
.docs/
backend/node_modules
backend/.env
backend/.env.production

frontend/node_modules
frontend/.env
frontend/dist

backend/.env.development
backend/.env.development.example
backend/.env.production.example
